<!DOCTYPE html>

<html lang="eng">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    {% load static %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: #006D77;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'turnover_logo_white.png' %}" height="80" style = "padding: 0; margin: 0;"></img>
        </a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href = "{% url 'user_form' %}">Review Company</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'company' %}">View Company</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
            </li>
          </ul>
        </div>
    </nav>

    <body>
        <div class="jumbotron text-center">
            <h2>Submit a Review</h2>
            <p>All data provided is fully anonymous and will not link back to you</p>
        </div>

        <div class="container">     
            <div class="row  display: flex justify-content-center">
                <div class="col-sm">        
                    <form action = "" method = "post">
                        {% csrf_token %}
                        {{form }}
                        {{ form.non_field_errors }}

                        <!-- {{ form }} -->
                        <!-- {{ form.non_field_errors }}
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.company_name.errors}}
                            {{form.company_name.label_tag}}
                            {{form.company_name}}
                        </div>
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.role.errors}}
                            {{form.role.label_tag}}
                            {{form.role}}
                        </div>
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.gender.errors}}
                            {{form.gender.label_tag}}
                            {{form.gender}}
                        </div>
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_1.errors}}
                            {{form.question_1.label_tag}}
                            {{form.question_1}}
                        </div>
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_2.errors}}
                            {{form.question_2.label_tag}}
                            {{form.question_2}}
                        </div>
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_3.errors}}
                            {{form.question_3.label_tag}}
                            {{form.question_3}}
                        </div>
                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_4.errors}}
                            {{form.question_4.label_tag}}
                            {{form.question_4}}
                        </div>

                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_5.errors}}
                            {{form.question_5.label_tag}}
                            {{form.question_5}}
                        </div>

                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_6.errors}}
                            {{form.question_6.label_tag}}
                            {{form.question_6}}
                        </div>

                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_7.errors}}
                            {{form.question_7.label_tag}}
                            {{form.question_7}}
                        </div>

                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_8.errors}}
                            {{form.question_8.label_tag}}
                            {{form.question_8}}
                        </div>

                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_9.errors}}
                            {{form.question_9.label_tag}}
                            {{form.question_9}}
                        </div>

                        <div class="custom-control custom-radio custom-control fieldWrapper">
                            {{form.question_10.errors}}
                            {{form.question_10.label_tag}}
                            {{form.question_10}}
                        </div> -->

                        <input type="submit" value=Submit>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>


     <!-- <form>
                    <p>Q1. How often do you witness gender-based discrimination in the workplace?</p>
                        
                    <div class="custom-control custom-radio custom-control-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>

                    <p></p>
                    <p>Q2. How often do you or your coworkers feel unsafe at work?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>

                    <p></p>
                    <p>Q3. Are promotions distributed on merit rather than gender?</p>
                
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Never
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Often
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="" name="optradio">Daily
                        </label>
                    </div>

                    <p></p>
                    <p>Q4. Do you feel as if management is representative of the demographics within your company?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>
                    <p></p>
                    <p>Q5. How often do you  hear of or witness individuals being bullied at your company?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>
                    <p></p>
                    <p>Q6. Are inappropriate jokes ever made within your company that might discriminate against someone based on their gender?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>

                    <p></p>
                    <p>Q7. How would you rate the company culture out of 6?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>

                    <p></p>
                    <p>Q8. Have you ever felt or witnessed social exclusion based on gender?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>

                    </div>
                    <p></p>
                    <p>Q9. Do you feel as if there is a gender pay gap at your workplace?</p>

                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Never
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Rarely
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Sometimes
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Frequently
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Often
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="" name="optradio">Daily
                    </label>
                    </div>

                    <p></p>
                
                    <div class="form-group">
                    <label for="exampleInputEmail1">Q10. Anything Else? </label>
                    <input type="review" class="form-control" id="userReview" aria-describedby="userHelp" placeholder="Write a review">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> -->
